* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2 linear;
}

html,
body {
  max-height: 100%;
  width: 100%;
  background-color: #e6e6e6;
  font-family: "Optima", sans-serif;
  color: #000000;
  --blue: #26386d;
  --yellow: #bbd23d;
  --red: #932529;
  --green: #00664e;
}

main {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 10;
}

.navbar {
  padding: 20px;
}

.navbar-box {
  display: flex;
  position: relative;
  align-items: inline-flex;
  justify-content: flex-end;
}

.navbar a {
  color: black;
}

.footer {
  white-space: nowrap;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1rem;
}

#name a:hover {
  mix-blend-mode: normal;
  font-style: italic;
  color: var(--yellow);
}

#works a:hover {
  font-style: italic;
  color: var(--blue);
}

#info a:hover {
  font-style: italic;
  color: var(--red);
}

#contacts a:hover {
  font-style: italic;
  color: var(--green);
}

img {
  width: 1.5rem;
}

/* content */

section {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.row-1 {
  display: flex;
  position: relative;
  margin-top: 20vh;
}

.footer {
  float: left;
  display: flex;
  bottom: 20px;
}

.column {
  width: 50%;
  padding-right: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.column-wrap {
  display: flex;
  position: relative;
}

.column-wrap-date {
  white-space: pre;
  width: 25%;
}

.column-wrap-activity {
  width: 75%;
}

#bio {
  font-size: 3vh;
}

#category {
  font-style: italic;
}

@media (max-width: 1000px) {
  .row-1 {
    width: 100%;
    flex-direction: column;
    margin-top: 5vh;
  }

  .column {
    padding: 40px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
  }

  img {
    width: 1rem;
  }

  .column-wrap-date {
    white-space: normal;
    width: 20%;
  }
}
