* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #e6e6e6;
  font-family: "Optima", sans-serif;
  color: #000000;
  --blue: #26386d;
  --yellow: #bbd23d;
  --red: #932529;
  --green: #00664e;
}

main {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in #container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  padding: 20px;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10;
}

.menu {
  font-size: 12vh;
  letter-spacing: -0.3rem;
  line-height: 10vh;
  z-index: 10;
  position: relative;
}

.footer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  align-items: flex-end;
  flex-direction: row;
}

/* Container 3D */

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}

/* transitions */

a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
}

.name a:hover {
  font-style: italic;
  color: var(--yellow);
}

.works a:hover {
  font-style: italic;
  color: var(--blue);
  transition: 0.2s;
}

.info a:hover {
  font-style: italic;
  color: var(--red);
  transition: 0.2s;
}

.footer a:hover {
  font-style: italic;
  color: var(--green);
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .menu {
    font-size: 3rem;
    letter-spacing: -0.05rem;
    line-height: 2.9rem;
  }

  .footer {
    font-size: 1rem;
    line-height: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  #container3D canvas {
    display: none;
  }
}
