* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2 linear;
}

html,
body {
  max-height: 100%;
  width: 100%;
  background-color: #e6e6e6;
  font-family: "Optima", sans-serif;
  color: #000000;
  --blue: #26386d;
  --yellow: #bbd23d;
  --red: #932529;
  --green: #00664e;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
  transition: opacity 0.5s;
  opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 10;
}

.navbar {
  padding: 20px;
}

.navbar-box {
  display: flex;
  position: relative;
  align-items: inline-flex;
  justify-content: x flex-end;
}

.navbar a {
  color: black;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1rem;
  text-decoration: none;
}

#name a:hover {
  font-style: italic;
  color: var(--yellow);
}

#works a:hover {
  font-style: italic;
  color: var(--blue);
}

#info a:hover {
  font-style: italic;
  color: var(--red);
}

/* Paintings */

.container {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

.box {
  justify-content: center;
  align-items: center;
}

.box a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  padding: 5rem;
}

.box p {
  text-align: center;
}

/* images */

img {
  height: 100%;
  object-fit: contain;
  transition: transform 0.1s;
}

img:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.nano {
  height: 10vh;
}

.micro {
  height: 20vh;
}

.small {
  height: 40vh;
}

.medium {
  height: 60vh;
}

.big {
}

.mega {
  height: 100vh;
}

/* footer */

.footer {
  display: flex;
  width: 95%;
  bottom: 0;
  justify-content: space-between;
  position: relative;
  padding: 300px 20px 20px 20px;
  align-items: flex-end;
  flex-direction: row;
}

.footer a:hover {
  font-style: italic;
  color: var(--green);
}

@media (max-width: 767px) {
  .navbar {
    padding: 20px;
    margin-bottom: 20px;
  }

  .navbar a {
    font-size: 1rem;
    text-decoration: none;
  }

  .box a {
    padding: 3rem;
  }

  img {
    padding: 1rem;
  }

  .nano {
    height: 100%;
    width: 70vw;
  }

  .micro {
    height: 100%;
    max-width: 50vw;
  }

  .small {
    height: 100%;
    max-width: 60vw;
  }

  .medium {
    height: 100%;
    max-width: 70vw;
  }

  .mega {
    height: 100%;
    max-width: 90vw;
  }

  .footer {
    font-size: 1.5rem;
    line-height: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }
}
